doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')

    // jQuery makes reading user data and injecting data easier
    script(src="//code.jquery.com/jquery-1.11.2.min.js")
    script(src="//code.jquery.com/jquery-migrate-1.2.1.min.js")
    
    // Socket.io reads and sends small data bits to and from the server
    script(src="/javascripts/socket.io.js")
  body
    // where the messages will go
    //ul#chat

    div
      table
        thead
          tr
            th codigo
            th Link para imagem
            th Título
            th Descrição
            th Tema
            th Link para noticia
        tbody#chat
            //form#send-row
            //  td
            //      input#link-img(size="35")
            //  td
            //      input#titulo(size="35")
            //  td
            //      input#descricao(size="35")
            //  td
            //      input#tema(size="35")
            //  td
            //      input#link-noticia(size="35")
            //      button(type="submit")
                  
            tr
              td 0
              td <img style='width:100px; height:100px' src=https://png.pngtree.com/element_our/md/20180426/md_5ae13aed62009.jpg>
              td ---  titulo  ---
              td ---  descrição ---
              td ---  tema  ---
              td ---  link noticia  ---

    // the place to type the new messages
    form#send-message
      input#link-img(size="35")
      input#titulo(size="35")
      input#descricao(size="35")
      select#tema
        option(value="esportes") Esportes
        option(value="política") Política
        option(value="entretenimento") Entretenimento
        option(value="famosos") Famosos
      input#link-noticia(size="35")
      button(type="submit", style="width:44px; height:44px") ADD
    
    // the part that manages all the client-side Socket.io thingies
    script.
      var socket;
      var indiceCrescente=1;

      function deletar(codigo){
        var i=0;
        for(var c of chat.children){
          if(codigo == Number(c.children[0].innerText) ){
            document.getElementsByTagName("table")[0].deleteRow(i+1);
          }
          i++;
        }
  
        socket.emit('deletar',codigo);
      }

      // wait until the HTML document is ready, then...
      $(document).ready(function() {
      
        // make a web socket connection using Socket.io
        socket = io.connect();
        
        //if(chat.children.length==1) socket.emit('reload data');
        //socket.on('data fill', function(d){
        //  for(var data at d){
        //    padraoFillTable(data);
        //  }
        //});
        

        // cache the HTML elements for speed and ease
        var messageForm = $('#send-message');
        var messageBox = $('#message');        
        var chat = $('#chat');
        // if the submit button is pressed...
        messageForm.submit(function(e) {
          // avoid making a POST request
          e.preventDefault();
          // use the socket to send the input box's text
          var tabela = {};
          tabela.codigo = indiceCrescente;
          tabela.link_imagem  = $('#link-img').val();
          tabela.titulo       = $('#titulo').val();
          tabela.descricao    = $('#descricao').val();
          tabela.tema         = $( "#tema" ).val();
          tabela.link_noticia = $('#link-noticia').val();
          socket.emit('send message', tabela);
          messageBox.val(''); // clear the input box
        });
        
        // if the web socket gets a 'new message' and data...
        socket.on('new message', function(data){
          // append it to the message list
                    
            chat.append("<tr><td>"+ indiceCrescente +"</td><td><img style='width:100px; height:100px' src="+data.link_imagem+"></td><td>"+data.titulo
          +"</td><td>"+data.descricao+"</td><td>"+data.tema+"</td><td><a target='_blank' href="+data.link_noticia+">link</a> </td><td><button onclick='deletar("+indiceCrescente+")'> X </button></td></tr>");
          indiceCrescente++;
            //chat.append(data + "</br>");
        });
      });
